<nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
  <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
    <a class="navbar-brand brand-logo" href="#!/">
      <img src="lib/admin/images/logo.png" style="height: 50px;" alt="logo"/>
    </a>
    <a class="navbar-brand brand-logo-mini" href="/">
      <img src="lib/admin/images/logo.png" alt="logo"/>
    </a>
  </div>
  <div class="navbar-menu-wrapper d-flex align-items-center">
    <div class="form-group" style="margin-top: 25px;">
          <span class="switch switch-lg">
            <input type="checkbox" class="switch" id="switch-lg" ng-model="systemStatus" ng-change="changeSystemStatus(systemStatus);">
            <label for="switch-lg">Başvuruları Aç</label>
          </span>
    </div>
    <ul class="navbar-nav navbar-nav-right">
      <li class="nav-item dropdown d-none d-xl-inline-block">
        <a class="nav-link dropdown-toggle" id="UserDropdown" data-toggle="dropdown" aria-expanded="false">
          <span class="profile-text">Merhaba, Gürsoy Vakfı Admin !</span>
          <img class="img-xs rounded-circle" src="lib/admin/images/faces-clipart/pic-1.png" alt="Profile image">
        </a>
        <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
          <a class="dropdown-item" data-toggle="modal" data-target="#sifreDegisModal">
            Şifre Değiştir
          </a>
          <a ng-click="logout()" class="dropdown-item">
            Çıkış Yap
          </a>
        </div>
      </li>
    </ul>
    <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
      <span class="mdi mdi-menu"></span>
    </button>
  </div>
</nav>